{% extends 'base.html' %}
{% load static %}

{% block title %} - login{% endblock  %}

{% block content %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button id='login-button' type="submit" class="btn btn-primary">Login</button>
    <p>no account? click <a id='create-account-button' href="{% url 'signup' %}">here</a> to signup</p>
  </form>  
{% endblock content %}
