{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>hi {{ user.username }}, have a nice day!</h1>
        <a href="{% url 'logout' %}"><button type="button" id='loginButton'class="btn btn-primary">logout</button></a>
    {% else %}
        <h1>You are not logged in :(</h1>
        <a href="{% url 'login' %}"><button type="button" id='logoutButton' class="btn btn-primary">login</button></a>
    {% endif %}
{% endblock content %}
