{% load static from staticfiles %}
<!DOCTYPE html>

<html>
    <head>
        <title>Loginator{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div class="text-center margin-atas">
            {% block content %}
            {% endblock %}                
        </div>
    </body>
</html>